{% extends "investor/base.html" %}

{% load static %}
{% load humanize %}
{% block body%}
<section class="dashboard-main"> 
    <!-- top-bar -->
    <nav class="main-top">
        <img src= "{% static 'img/logo-mobile.svg' %}" alt="logo" class="img-fluid mobile">
        <!-- <img src= "{% static 'img/bell.svg' %}" alt="bell" class="mobile"> -->
        <div class="avatar-div disappear"> 
            <!-- <img src= "{% static 'img/bell.svg' %}" alt="bell" class="img-xs"> -->
            <div class="avatar-div2 " id="drop-down">
              {% if avatar is ""  %}
              <img src= "{% static 'img/avatar.png' %}" alt="avatar" class="img-sm" style="border-radius: 50%;">
              {% elif avatar is None  %}
              <img src= "{% static 'img/avatar.png' %}" alt="avatar" class="img-sm" style="border-radius: 50%;">
              {% else %}
              <img src= "{{avatar}}" alt="avatar" class="img-sm">
              {% endif %}
                <img src= "{% static 'img/down.svg' %}" alt="avatar" class="ml-2 img-xs">
            </div>
        </div>
    </nav>
    <ul style="display: none;" id="drop-list">
      <li><a href="{% url 'profile' %}"><img src= "{% static 'img/drop-profile.svg' %}" alt="upload" class="mr-3"> View Profile</a></li>
      <li><a href="{% url 'logout' %}"><img src= "{% static 'img/drop-signout.svg' %}" alt="upload" class="mr-3">Sign out</a></li>
  </ul>
    <!-- top-bar ends -->
    <!-- main section -->
    <div class="main-section">
        <div class="main-title disappear">
            <h4> <img src= "{% static 'img/big-bid.svg' %}" alt="upload" class="mr-2">Bids</h4>
            
        </div>
        <div class="main-bids">
            <div class="main-invoice">
                <div class="main-card-investor2">
                  <div class="mob-flex">
                    <h4 class="i-h4">Active Bids ({{activeBid}})</h4>
                    <!-- <div>
                      <h4 class="i-h4">2 of 3 </h4>
                    </div> -->
                  </div>
                  <div class="investor-inner">
                    {% if activeBidss %}
                    {% for i in activeBidss %}
                    <div class="mobile-card-invoice2 mb-1 pt-3 pb-3" >
                      <div class="mob-flex">
                        <h5 class="i-h5">
                          {{i.invoice.additional_details}}
                        </h5>
                       <h5><span class="roi">1 - 4.5 % </span>ROI</h5>
                      </div>
                      <div class="mob-flex">
                        <p>Due in {{i.invoice.due_date|timeuntil}}</p>
                        <p style="padding: 0.5rem; font-size: 1.9rem; color:#081B33; font-family: GeneralSansMedium;">&#8358;{{i.amount|floatformat:2|intcomma}}</p>
                      </div>
                      <div class="mob-flex">
                          
                          <p class="mob-p"> My Bid <span class="t-bids3">{{i.buyer_ror}}%</span></p>
                          <button id="{{i.id}}" class="edit-bid" onclick="editBid(this.id)"  >Edit Bid</button>
                      </div>
                    </div>
                    {% endfor %} 
                    {% else %}      
                    <div class="no-invoice" style="height:auto;">
                        <img src= "{% static 'img/no-invoice.svg' %}" alt="upload" class="mb-3"/>
                        <p>No Active Bids</p>
                    </div>
                    {% endif %}
                    <!-- <div class="mobile-card-invoice2 mb-1 pt-3 pb-3" >
                      <div class="mob-flex">
                        <h5 class="i-h5">
                          Road Project Supplies Invoice
                        </h5>
                       <h5><span class="roi">5 - 8 % </span>ROI</h5>
                      </div>
                      <div class="mob-flex">
                        <p>Due in 60 days</p>
                        <p style="padding: 0.5rem; font-size: 1.9rem; color:#081B33; font-family: GeneralSansMedium;">&#8358;343,454.00</p>
                      </div>
                      <div class="mob-flex">
                        <p class="mob-p"> Total Bids <span class="t-bids">15</span></p>
                        <p class="mob-p"> Top Bid <span class="t-bids2">6.5%</span></p>
                        <p class="mob-p"> My Bid <span class="t-bids3">7%</span></p>
                        <button class="edit-bid">Edit Bid</button>
                      </div>
                    </div> -->
  
                  </div>
                </div> 
            </div>
            
        </div>
        <!-- Purchased invoices -->
        <div class="main-card-investor2 mt-3">
          <div class="mob-flex">
            <h4 class="i-h4">Purchased Invoices ({{purchasedInvoicesCount}})</h4>
            <form  action="" >
              {% csrf_token %}
              <div class="flex-between">
                  <div class="flexy">
                      <img src= "{% static 'img/filter.svg' %}" alt="upload" class="mr-2">
                      <p>Filter</p>
                      <select id="select-filter-date3" class="select-filter ml-3" onchange="searchInvoiceInvestor()">
                          <option value="0" disabled selected>Due Date</option>
                          <option value="1" >Today</option>
                          <option value="7">Next 7 Days</option>
                          <option value="30" >Next 30 Days</option>
                          <option value="60">Next 60 Days</option>
                          <option value="120">Next 120 Days</option>
                      </select>
  
                  </div>
              </div>
            </form>
            <div class="disappear">
              <!--Pagination-->
              <span class="step-links">
                <span class="current page-current">
                    {{ purchasedInvoices.number }}  of  {{ purchasedInvoices.paginator.num_pages }}
                </span>
                
                {% if purchasedInvoices.has_previous and purchasedInvoices.has_next %}
                  <!-- <a href="?page=1">&laquo; first</a> -->
                  <a href="?page={{ purchasedInvoices.previous_page_number }}"><img src= "{% static 'img/previous.svg' %}" alt="upload" class="ml-1 mr-3"/></a>
                  <a href="?page={{ purchasedInvoices.next_page_number }}"><img src= "{% static 'img/next.svg' %}" alt="upload" class="ml-1"/></a>
              {% endif %}

              {% if purchasedInvoices.has_next and not purchasedInvoices.has_previous %}
                  <img src= "{% static 'img/fade-previous.svg' %}" alt="upload" class="ml-1 mr-3"/>
                  <a href="?page={{ purchasedInvoices.next_page_number }}"><img src= "{% static 'img/next.svg' %}" alt="upload" class="ml-1"/></a>
                  <!-- <a href="?page={{ invoices.paginator.num_pages }}">last &raquo;</a> -->
              {% endif %}
            </span> 
            <!--end of Pagination-->
              <!-- <h4 class="i-h4 disappear">2 of 3 </h4> -->
            </div>
          </div>
          <!-- search table -->
          <table class="table" id="search-table" style="display: none;">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <!-- <th scope="col">ROI</th> -->
                <th scope="col">Recieveable Amount</th>
                <th scope="col">Due Date</th>
                <th scope="col" class="mobilell">Vendor</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="ajax_div"></tbody>
          </table>
          <!-- table -->
          <table class="table" id="normal-table">
            {% if purchasedInvoices %}
            
            <thead>
              <tr>
                <th scope="col">Name</th>
                <!-- <th scope="col">ROI</th> -->
                <th scope="col">Recieveable Amount</th>
                <th scope="col">Due Date</th>
                <th scope="col" class="mobilell">Vendor</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <!-- <tbody id="ajax_div"></tbody> -->
            
            <tbody id="invoice-table3">
              {% for i in purchasedInvoices %}
              <tr>
                <td> 
                  <img src= "/static/img/invoice-small.svg" alt="upload" class="mr-1"/> 
                  {{i.additional_details}}
                </td>
                <!-- <td >3 - 6 %</td> -->
                <td style="color:#3EAF6E;">&#8358; {{i.receivable_amount|floatformat:2|intcomma}}</td>
                <td>Due in {{i.due_date|timeuntil}}</td>
                <td class="mobilell"> {{i.vendor_name}}</td>
                <td><a href="{{i.invoice_url}}" target="_blank" style="color:#5151E0;">View Invoice</a></td>
              </tr>
              {% endfor %} 
            </tbody>
            
            {% else %}      
            <div class="no-invoice" style="height:auto;">
                <img src= "{% static 'img/no-invoice.svg' %}" alt="upload" class="mb-3"/>
                <p>You have no Pending Purchased Invoice</p>
            </div>
            {% endif %}
          </table>
        </div>
    </div>

    <!-- main-section ends -->
</section>
{% endblock %}

