{% extends "seller/base.html" %}

{% load static %}

{% block body%}
<section class="dashboard-main"> 
    <!-- top-bar -->
    <nav class="main-top">
        <img src= "{% static 'img/logo-mobile.svg' %}" alt="logo" class="img-fluid mobile">
        <img src= "{% static 'img/bell.svg' %}" alt="bell" class="mobile">
        <div class="avatar-div disappear"> 
            <img src= "{% static 'img/bell.svg' %}" alt="bell" class="img-xs">
            <div class="avatar-div2 ">
                <img src= "{% static 'img/avatar.png' %}" alt="avatar" class="img-sm">
                <img src= "{% static 'img/down.svg' %}" alt="avatar" class="ml-2 img-xs">
            </div>
        </div>
    </nav>
    <!-- top-bar ends -->
    <!-- main section -->
    <div class="main-section">
        <div class="main-title disappear">
            <h4> <img src= "{% static 'img/in-invoice.svg' %}" alt="upload" class="mr-2">Invoices</h4>
            <a class="invoice-upload"> <img src= "{% static 'img/upload-mobile.svg' %}" alt="upload"> Upload Invoice</a>
        </div>
        <div class="main-wallet">
            <div class="main-invoice">
                <div class="main-card">
                    <div class="flex-between">
                        <div class="flexy">
                            <img src= "{% static 'img/filter.svg' %}" alt="upload" class="mr-2">
                            <p>Filter</p>
                            <select id="select-filter" class="select-filter ml-3">
                                <option value="" disabled selected>Status</option>
                                <option value="awaiting" >Awaiting Confirmation</option>
                                <option value="vendor">Confirmed by Vendor</option>
                                <option value="buyer" >Awaiting Buyer</option>
                                <option value="maturity">Awaiting Maturity</option>
                            </select>
                            <select id="select-filter" class="select-filter ml-3">
                                <option value="" disabled selected>Due Date</option>
                                <option value="awaiting" >Today</option>
                                <option value="vendor">Next 7 Days</option>
                                <option value="buyer" >30 Days</option>
                                <option value="maturity">60 Days</option>
                                <option value="maturity">120 Days</option>
                            </select>

                        </div>
                    </div>
                    <!-- invoice table -->
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Vendor</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td > <img src= "{% static 'img/invoice-small.svg' %}" alt="upload" class="mr-1"/> Road Project</td>
                            <td><span class="awaiting">Awaiting Confirmation</span></td>
                            <td>&#8358;1,000,000.00</td>
                            <td>12/03/2012</td>
                            <td>Emeks Entreprises</td>
                          </tr>
                          <tr>
                            <td > <img src= "{% static 'img/invoice-small.svg' %}" alt="upload" class="mr-1"/> Road Project</td>
                            <td><span class="vendor">Awaiting Confirmation</span></td>
                            <td>&#8358;1,000,000.00</td>
                            <td>12/03/2012</td>
                            <td>Emeks Entreprises</td>
                          </tr>
                          <tr>
                            <td > <img src= "{% static 'img/invoice-small.svg' %}" alt="upload" class="mr-1"/> Road Project</td>
                            <td><span class="buyer">Awaiting Confirmation</span></td>
                            <td>&#8358;1,000,000.00</td>
                            <td>12/03/2012</td>
                            <td>Emeks Entreprises</td>
                          </tr>
                          <tr>
                            <td > <img src= "{% static 'img/invoice-small.svg' %}" alt="upload" class="mr-1"/> Road Project</td>
                            <td><span class="maturity">Awaiting Confirmation</span></td>
                            <td>&#8358;1,000,000.00</td>
                            <td>12/03/2012</td>
                            <td>Emeks Entreprises</td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
                
                
                </div>
            </div>
            
        </div>
    </div>
    <!-- main-section ends -->
</section>
{% endblock %}

