{% extends "investor/base.html" %}

{% load static %}
{% load humanize %}
{% block body%}
<section class="dashboard-main"> 
    <!-- top-bar -->
    <nav class="main-top">
        <img src= "{% static 'img/logo-mobile.svg' %}" alt="logo" class="img-fluid mobile">
        <!-- <img src= "{% static 'img/bell.svg' %}" alt="bell" class="mobile"> -->
        <a href="{% url 'logout' %}"><img src= "{% static 'img/drop-signout.svg' %}" alt="upload" class="mobile mt-2"></a>
        <div class="avatar-div disappear"> 
            <!-- <img src= "{% static 'img/bell.svg' %}" alt="bell" class="img-xs"> -->
            <div class="avatar-div2 " id="drop-down">
                {% if avatar is ""  %}
                <img src= "{% static 'img/avatar.png' %}" alt="avatar" class="img-sm" style="border-radius: 50%;">
                {% elif avatar is None  %}
                <img src= "{% static 'img/avatar.png' %}" alt="avatar" class="img-sm" style="border-radius: 50%;">
                {% else %}
                <img src= "{{avatar}}" alt="avatar" class="img-sm">
                {% endif %}
                <img src= "{% static 'img/down.svg' %}" alt="avatar" class="ml-2 img-xs">
                <!-- <img src= "{% static 'img/avatar.png' %}" alt="avatar" class="img-sm">
                <img src= "{% static 'img/down.svg' %}" alt="avatar" class="ml-2 img-xs"> -->
            </div>
        </div>
    </nav>
    <ul style="display: none;" id="drop-list">
        <li><a href="{% url 'profile' %}"><img src= "{% static 'img/drop-profile.svg' %}" alt="upload" class="mr-3"> View Profile</a></li>
        <li><a href="{% url 'logout' %}"><img src= "{% static 'img/drop-signout.svg' %}" alt="upload" class="mr-3">Sign out</a></li>
    </ul>
    <!-- top-bar ends -->
    <!-- main section -->
    <div class="main-section">
        <div class="main-title disappear">
            {% if company_name %}
            <h4>{{company_name}}'s Wallet</h4>
            {% else %}
            <h4>{{name}}'s Wallet</h4>
            {% endif%}
        </div>
        <div class="main-wallet">
            <div class="main-left disappear">
                <div class="main-card">
                    <div class="flex-between">
                        <div class="flexy">
                            <img src= "{% static 'img/wallet-seller.svg' %}" alt="upload" class="mr-2">
                            <p>Wallet</p>
                            <span id="wall-active">ACTIVE</span>
                        </div>
                    </div>
                    <div class="flexty mt-3">
                        <h5>Credit Score</h5>
                        {% if credit_score <= "0.199" %}
                            <button type="button" class="btn credit-red ml-3">
                                <span class="badge badge-red">1</span>
                                VERY POOR
                            </button>
                        {% elif credit_score >= "0.2" and credit_score <= "0.399"%}
                            <button type="button" class="btn credit-orange ml-3">
                                <span class="badge badge-orange">2</span>
                                POOR
                            </button>
                        {% elif credit_score >= "0.4" and credit_score <= "0.599"%}
                            <button type="button" class="btn credit-yellow ml-3">
                                <span class="badge badge-yellow">3</span>
                                FAIR
                            </button>
                        {% elif credit_score >= "0.6" and credit_score <= "0.799"%}
                            <button type="button" class="btn credit-light ml-3">
                                <span class="badge badge-light">4</span>
                                GOOD
                            </button>
                        {% elif credit_score >= "0.8" and credit_score <= "0.999"%}
                            <button type="button" class="btn credit-green ml-3">
                                <span class="badge badge-green">5</span>
                                EXCELLENT
                            </button>
                        {% else %}
                        <button type="button" class="btn credit-red ml-3">
                            <span class="badge badge-red">1</span>
                            VERY POOR
                        </button>
                        {% endif %}
                    </div>
                    <!-- wallet card -->
                    <div class="wallet-card" >
                        <div class="flex-between">
                            <h5>Quidroo Balance</h5>
                            <img src= "{% static 'img/eye_show.svg' %}" alt="upload" id="w_show" class="mr-2" onclick="w_showBalance()">
                            <img src= "{% static 'img/eye_hidden.svg' %}" alt="upload" id="w_hide" class="mr-2" style="display: none;" onclick="w_showBalance()">
                        </div>

                        <div id="w_balance_div">
                            <h3 class="mb-3 clickable" id="w_qut">{{fiat_equivalent |floatformat:2|intcomma}} <sup class="sup">NGN</sup></h3>
                            <a class="view mt-3 mr-5" data-toggle="modal" data-target="#topupModal">  Fund</a>
                            <a class="view mt-3" data-toggle="modal" data-target="#withdrawModal">  Withdraw</a>
                        </div>
                        <h3 class="mb-3" id="w_not" style="display: none;">*********</h3>
                        <!-- <h5>Account ID: {{muxed_acct}}</h5> -->
                    </div>
                </div>
                <div class="main-card mt-2 bottom-fix">
                    <div class="flexy-options-wallet">
                        <!-- transactions -->
                        <div class="flex-between mt-3 line">
                            <h6 class="recent-trans">Recent Transactions</h6>
                        </div>
                        {% if local_transaction %}
                            {% for t in local_transaction %}
                                {% if t.transaction_type == "Credit" %}
                                <div class="flex-between mt-1">
                                    <div>
                                        <h6 class="trans">{{t.transaction_note}}</h6>
                                        <a class="trans-date">{{t.created_at}}</a>
                                    </div>
                                    <p class="wallet-green">+ &#8358;{{t.fiat_equivalent |floatformat:2|intcomma}}</p>
                                </div>
                                {% else %}
                                <div class="flex-between mt-1">
                                    <div>
                                        <h6 class="trans">{{t.transaction_note}}</h6>
                                        <a class="trans-date">{{t.created_at}}</a>
                                    </div>
                                    <p class="wallet-red">- &#8358;{{t.fiat_equivalent |floatformat:2|intcomma}}</p>
                                </div>
                                {% endif %}
                            
                            {% endfor %}
                        {% else %}
                            <p class="no-tx">No Transactions</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- mobile wallet balance -->
            <div class="main-right mobile">
                <div class="main-card-two">
                    <div class="flex-between">
                        <div class="flexy">
                            <img src= "{% static 'img/wallet-seller.svg' %}" alt="upload" class="mr-2">
                            <p>Wallet</p>
                            {% if activated == True %}
                                <span id="wall-active">ACTIVE</span>
                            {% else %}
                                <span id="wall-inactive">INACTIVE</span>
                            {% endif %}
                            <!-- <span id="wall-active">ACTIVE</span> -->
                        </div>
                        <!-- <div class="flexty-wallet">
                            <h5>Credit Score</h5>
                            {% if credit_score >= "9" %}
                                <button type="button" class="btn credit-red ml-3">
                                    <span class="badge badge-red">1</span>
                                    VERY POOR
                                </button>
                            {% elif credit_score <= "8.99" and credit_score >= "8"%}
                                <button type="button" class="btn credit-orange ml-3">
                                    <span class="badge badge-orange">2</span>
                                    POOR
                                </button>
                            {% elif credit_score <= "7.99" and credit_score >= "7"%}
                                <button type="button" class="btn credit-yellow ml-3">
                                    <span class="badge badge-yellow">3</span>
                                    FAIR
                                </button>
                            {% elif credit_score <= "6.99" and credit_score >= "6"%}
                                <button type="button" class="btn credit-light ml-3">
                                    <span class="badge badge-light">4</span>
                                    GOOD
                                </button>
                                {% elif credit_score <= "5.99" and credit_score >= "5"%}
                                <button type="button" class="btn credit-green ml-3">
                                    <span class="badge badge-green">5</span>
                                    EXCELLENT
                                </button>
                            {% else %}
                            <button type="button" class="btn credit-red ml-3">
                                <span class="badge badge-red">1</span>
                                VERY POOR
                            </button>
                            {% endif %}
                        </div> -->
                    </div>
                    
                    <!-- wallet card -->
                    <div class="wallet-card" >
                        <div class="flex-between">
                            <h5>Quidroo Balance</h5>
                            <img src= "{% static 'img/eye_show.svg' %}" alt="upload" id="d_show" class="mr-2" onclick="d_showBalance()">
                            <img src= "{% static 'img/eye_hidden.svg' %}" alt="upload" id="d_hide" class="mr-2" style="display: none;" onclick="d_showBalance()">
                        </div>

                        <div id="balance_div">
                            <h3 class="mb-3 clickable" id="d_qut" >&#8358; {{fiat_equivalent |floatformat:2|intcomma}}</h3>
                            <a class="view mt-3 mr-5" data-toggle="modal" data-target="#topupModal">  Fund</a>
                            <a class="view mt-3" data-toggle="modal" data-target="#withdrawModal">  Withdraw</a>
                        </div>
                        <h3 class="mb-3" id="d_not" style="display: none;">*********</h3>
                        <!-- <h5>Account ID: {{muxed_acct}}</h5> -->
                    </div>
                    <!-- transactions -->
                    <div class="flex-between mt-3 line">
                        <h6 class="recent-trans">Recent Transactions</h6>
                        <!-- <a class="trans-view ">See More</a> -->
                    </div>
                    {% if local_transaction %}
                        {% for t in local_transaction %}
                            {% if t.transaction_type == "Credit" %}
                            <div class="flex-between mt-1">
                                <div>
                                    <h6 class="trans">{{t.transaction_note}}</h6>
                                    <a class="trans-date">{{t.created_at}}</a>
                                </div>
                                <p class="wallet-green">+ &#8358;{{t.fiat_equivalent |floatformat:2|intcomma}}</p>
                            </div>
                            {% else %}
                            <div class="flex-between mt-1">
                                <div>
                                    <h6 class="trans">{{t.transaction_note}}</h6>
                                    <a class="trans-date">{{t.created_at}}</a>
                                </div>
                                <p class="wallet-red">- &#8358;{{t.fiat_equivalent |floatformat:2|intcomma}}</p>
                            </div>
                            {% endif %}
                        
                        {% endfor %}
                    {% else %}
                        <p class="no-tx">No Transactions</p>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
    <!-- main-section ends -->
</section>
{% endblock %}

