<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Quidroo: Invoice Financing platform for SMEs"
    />
    {% load static %}
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <!-- CSS FILES --> 
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.2/css/bootstrap.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">  

     <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <!-- JS FILES -->
    
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'bootstrap-4.5.2/js/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'js/helper.js' %}"></script> -->
    <script src="{% static 'js/api_ajax.js' %}"></script>

    
    <title>Quidroo</title>
</head>
<body> 
    <nav class="sidebar">
        <img src= "{% static 'img/logo.svg' %}" alt="logo">
        <ul>
            <li class="seller-list" id="dashboard" onclick="makeActive(this.id)"><a href="{% url 'dashboard' %}" class="underline"> <img src= "{% static 'img/dashboard.svg' %}" alt="logo" class="mr-3"> Dashboard</a></li>
            <li class="seller-list" id="invoices" onclick="makeActive(this.id)"><a href="{% url 'invoices' %}" class="underline"> <img src= "{% static 'img/invoice.svg' %}" alt="logo" class="mr-3"> Invoices</a></li>
            <!-- <li class="seller-list" id="wallet" onclick="makeActive(this.id)"><a href="{% url 'wallet' %}" class="underline"> <img src= "{% static 'img/wallet.svg' %}" alt="logo" class="mr-3"> Wallet</a></li>
            <li class="seller-list" id="stats" onclick="makeActive(this.id)"><a href="#work" class="underline"> <img src= "{% static 'img/stats.svg' %}" alt="logo" class="mr-3"> Stats</a></li> -->
            <li class="seller-list" id="settings" onclick="makeActive(this.id)"><a href="{% url 'logout' %}" class="underline"> <img src= "{% static 'img/settings.svg' %}" alt="logo" class="mr-3"> Logout</a></li>
        </ul>
    </nav> 
    <nav class="bottombar ">
        <ul>
            <li class="seller-list" id="dashboard1" onclick="makeActive(this.id)"><a href="{% url 'dashboard' %}" class="underline"> <img src= "{% static 'img/dashboard.svg' %}" alt="logo" > <p>Dashboard</p></a></li>
            <li class="seller-list" id="invoices1" onclick="makeActive(this.id)"><a href="{% url 'invoices' %}" class="underline"> <img src= "{% static 'img/invoice.svg' %}" alt="logo" > <p>Invoices</p></a></li>
            <li class="seller-list" id="wallet1" onclick="makeActive(this.id)"><a href="{% url 'wallet' %}" class="underline"> <img src= "{% static 'img/wallet.svg' %}" alt="logo" > <p>Wallet</p></a></li>
            <li class="seller-list" id="stats1" onclick="makeActive(this.id)"><a href="{% url 'stats' %}" class="underline"> <img src= "{% static 'img/stats.svg' %}" alt="logo" > <p>Stats</p></a></li>
            <li class="seller-list" id="settings1" onclick="makeActive(this.id)"><a href="{% url 'logout' %}" class="underline"> <img src= "{% static 'img/profile.svg' %}" alt="logo" > <p>Profile</p></a></li>
        </ul>
    </nav>    
    <!-- Withdraw Modal -->
    <div class="modal fade" id="withdrawModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Withdraw</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="#"  method="POST">
                    {% csrf_token %}
                    <label>Amount to withdraw</label>
                <input type="text" class="form-input" placeholder="Enter Amount in Fiat Currency" id="amount" name="amount" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="withdraw-btn">Withdraw</button>
                </div>
                </form>
                
            </div>
            
        </div>
        </div>
    </div> 

    <!-- Topup Modal -->
    <div class="modal fade" id="topupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Fund Wallet</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="#"  method="POST">
                    {% csrf_token %}
                    <label>Amount to Fund</label>
                <input type="text" class="form-input" placeholder="Enter Amount in Fiat Currency" id="f_amount" name="f_amount" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="topup-btn">Fund Wallet</button>
                </div>
                </form>
                
            </div>
            
        </div>
        </div>
    </div>
    {% block body%}
    
    {% endblock %}
    
</body>
</html>