<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Quidroo: Invoice Financing platform for SMEs"
    />
    {% load static %}
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <!-- CSS FILES --> 
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.2/css/bootstrap.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/onboarding.css' %}">  

     <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <!-- JS FILES -->
    
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'bootstrap-4.5.2/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/helper.js' %}"></script>
    <script src="{% static 'js/api_ajax.js' %}"></script>

    
    <title>Quidroo</title>
</head>
<body onload="onLoad()"> 
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" id="aside" href="{% url 'index' %}"> <img src= "{% static 'img/logo.svg' %}" alt="logo"></a>
        <img src="{% static 'img/hamburger.svg' %}" class="img-fluid navbar-toggler" data-toggle="collapse" data-target="#navbarText" style="border:0"/>
    </nav>   
    <div id="loading">
      <img id="loading-image" src="{% static 'img/favicon.png' %}" alt="Loading..." />
    </div>  
    <!-- <form method="post" enctype="multipart/form-data" action="{% url 'testupload' %}">{% csrf_token %} 
      <input type="file" name="myfile" />
      <input type="submit" name="submit" value="Upload" />
  </form> -->
    {% block body%}
    
    {% endblock %}
    
</body>
<script>
  
</script>
</html>