{% extends "onboarding/base.html" %}

{% load static %}

{% block body%}
<section class="onboarding-background"> 
    <div class="email-login-card">
        <div>
            <img src="{% static 'img/reset_email.svg' %}" class="img-fluid img-email" />
            <h3 class="mt--6 rc">Password Reset Successful!</h3>
            <p class="email-p rc">You’ve successfully reset your password. Enter new password to log into your account</p>
        </div>
        <div id="email_login_form">
            <h3 class="mb-3 el-title rc">Log In</h3>
            {% if success == false %}
                <p class="error-message">{{message}}</p>
            {% else %}
                <p class="success-message">{{message}}</p>
            {% endif %}
            <form  action="{% url 'signin' %}" method="post" class="form">
                {% csrf_token %}
                <label>Email Address</label>
                <input type="text" class="form-input" placeholder="Enter email address" id="rl_email"  name="rl_email" oninput="rl_checkFormOne()"/>
                <label>Password</label>
                <div class="">
                    <div style="display: flex; justify-content: left;">
                        <input type="password" 
                    class="form-input" 
                    name="rl_password" 
                    id="rl_password"
                    placeholder="Enter password" 
                    oninput="rl_checkFormOne()"
                    />
                    <img src="{% static 'img/eye_hidden.svg' %}" class="img-eye" id="rl_show_eye" onclick="rl_showPassword()"/>
                    <img src="{% static 'img/eye_show.svg' %}" class="img-eye" id="rl_hide_eye" onclick="rl_showPassword()" style="display: none;"/>
                    </div>
                </div>
                <div class="form-btn-div mt-3">
                    <button class="btn-disabled" disabled id="rl_btn-login">Log In</button>
                    <a href="{% url 'forgot_page' %}"  id="forg">Forgot password?</a>
                </div>
            </form>
        </div> 
    </div>
</section>
{% endblock %}