@font-face {
    font-family: "CabinetGroteskRegular";
    src: url("/static/fonts/CabinetGrotesk-Regular.ttf");
}
@font-face {
    font-family: "CabinetGroteskLight";
    src: url("/static/fonts/CabinetGrotesk-Light.ttf");
}
@font-face {
    font-family: "CabinetGroteskMedium";
    src: url("/static/fonts/CabinetGrotesk-Medium.ttf");
}
@font-face {
    font-family: "CabinetGroteskBold";
    src: url("/static/fonts/CabinetGrotesk-Bold.ttf");
}

@font-face {
    font-family: "GeneralSansBold";
    src: url("/static/fonts/GeneralSans-Bold.ttf");
}
@font-face {
    font-family: "GeneralSansMedium";
    src: url("/static/fonts/GeneralSans-Medium.ttf");
}
@font-face {
    font-family: "GeneralSansRegular";
    src: url("/static/fonts/GeneralSans-Regular.ttf");
}

.input-disabled{
    color:#BABECF;
    border: 1px solid #E9EAF4;
    font-family: "GeneralSansMedium";
}
.doc-flexy{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1rem;
}
.doc-flexy >p{
    color:#081B33;
}
.doc-flexy >img{
    margin-right: 2rem;
}
.nav-link {
    padding: 0.5rem 3rem!important;
    color:#767E9F;
    font-family: "GeneralSansMedium";
}
/* .tab-content>.active {
    display: block!important;
} */
.pro-save{
    background: #BABECF;
    border-radius: 7px;
    padding:0.9rem 1.5rem;
    border:0;
    color:#fff;
}
.pro-save:hover{
    text-decoration: none!important;
    color:#BABECF!important;
    background: #fff!important;
    border:1px solid #BABECF;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #5151E0;
    background-color: #fff;
    border-left: 2px solid #5151E0;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    font-family: "GeneralSansRegular"!important;
}
.form-input{
    height: 55px;
    border: 0px solid rgba(8, 27, 51, 0.1);
    box-sizing: border-box;
    border-radius: 7px;
    background: #F6F7FC;
    width:100%;
    margin: 0.5rem 0;
    padding: 1rem;
    font-family: "GeneralSansRegular";
  }
.form-input-red{
    height: 55px;
    border: 0px solid rgba(8, 27, 51, 0.1);
    box-sizing: border-box;
    border-radius: 7px;
    background: #F9EAEA;
    width:100%;
    margin: 0.5rem 0;
    padding: 1rem;
    font-family: "GeneralSansRegular";
}
.form-input-green{
    height: 55px;
    border: 0px solid rgba(8, 27, 51, 0.1);
    box-sizing: border-box;
    border-radius: 7px;
    background: #ECF7F1;
    width:100%;
    margin: 0.5rem 0;
    padding: 1rem;
    font-family: "GeneralSansRegular";
}
a {
    text-decoration: none; 
  }
  a:hover{
    text-decoration: none;
  }
.sidebar{
    width:250px;
    height: 100vh;
}
.no-tx{
    color:#767E9F;
    font-size: 1.3rem;
}
.modal-img{
    width:70%!important;
}
.clickable:hover,#w_show:hover,#w_hide:hover,#d_show:hover,#d_hide:hover {
    cursor:pointer;
   }
.shows{
    display: block;
}
.hide{
    display: none;
}
.bottombar{
    display: none;
}
#drop-list{
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    right: 2rem;
    top:7vh;
    padding: 0.5rem;
    width: 15vw;
    list-style: none;
}
.main-title>h4{
    color: #081B33;
    font-family: "GeneralSansMedium";
}
.invoice-upload{
    background-color: #5151E0;
    border-radius: 7px;
    padding: 1.5rem;
    color: #fff;
    font-family: "GeneralSansRegular";
}
#drop-list>li>a{
    color: #767e9f!important;
}
#drop-list>li{
    padding:1rem;
    border-bottom: 0.5px solid #EEF1F8;
    font-family: "GeneralSansRegular"; 
}
#drop-list>li:hover{
    background-color: #EEEEFC;
    cursor:pointer;
    border-radius: 7px;
}
.dashboard-main{
    width:calc(100% - 250px);
    min-height:100vh;
    background-color: #EEF1F8;
}
.view:hover{
    text-decoration: none;
    background-color: #5151E0;
    color:#fff;
    border:0;
    cursor:pointer;
}
.upload:hover{
    cursor:pointer;
    background-color: #fff;
    border:0.5px solid #5151E0;
    text-decoration: none;
}
.sidebar >ul{
    list-style: none;
    padding: 0.5vh 3vh 3vh 0;
}
.sidebar >ul >li> a{
    padding: 1vh 0;
    color:#081B33!important;
    font-size: 1.3rem;
    font-family: "GeneralSansRegular";
    padding: 1vh 1vh 1vh 3vh;
}
.sidebar >ul >li> a:hover {
    text-decoration: none;
}

.activ{
    background-color: #EEEEFC;
    border-radius: 7px;
}
/* .seller-list:hover{
    background-color: #EEEEFC;
    border-radius: 7px;
  } */

.sidebar >ul >li{
    padding: 2vh 0;
    margin-left: 2vh;
}
.sidebar >img{
    padding:5vh;
}
.img-xs{
    width:10%;
    height:auto;
}
.img-sm{
    width: 50px;
    height: 50px;
    margin-top: 1vh;
    border-radius: 50%;
}
.main-top{
    width:99.5%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin-left: 0.3%;
    justify-content: end;
    padding: 1vh 5vh;
}
.avatar-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.avatar-div2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 2rem;
    /* width: 90px; */
}
.mobile{
    display: none;
}
.main-section{
    padding:5vh;
    /* background-color: blue; */
}
.main-title>h2{
    color:#081B33;
    font-family: "GeneralSansRegular";
}
.wallet-green{
    color:#3EAF6E;
    font-family: "GeneralSansRegular";
    margin-top: 0.7rem;
    width: 50%;
    text-align: right;
}
#drop-list>li>a:hover {
    text-decoration: none;
}
.acc-det{
    margin: auto;
    font-family: "GeneralSansRegular";
}
.acc-det >h6, .acc-det>p{
    color:#767E9F;
    margin:0;
    font-family: "GeneralSansRegular";
}
.modal-title{
    font-family: "GeneralSansRegular"!important;
}
.btn-withdraw{
    margin: auto;
    background-color: #5151E0;
    color: #fff;
    padding: 0.5rem 1.9rem;
    font-family: "GeneralSansRegular";
}
.wallet-red{
    color:#D13D2A;
    font-family: "GeneralSansRegular";
    margin-top: 0.7rem;
    width: 50%;
    text-align: right;
}
.fund-wallet{
    background: #E07E24!important;
    border-radius: 7px;
    padding: 1.5vh;
    color:#fff;
    font-family: "GeneralSansRegular";
}
.fund-wallet:hover{
    color:#E07E24;
    background: #fff!important;
    border: 1px solid #E07E24;
    text-decoration: none;
}

.upload{
    background: #F5F7FC;
    border-radius: 7px;
    padding: 1.5vh;
    color:#767E9F;
    font-family: "GeneralSansRegular";
}
.view:hover{
    text-decoration: none;
}
.view-blue:hover{
    text-decoration: none;
}
.line{
    border-bottom: 1px solid #E9EAF4;
}

.view{
    background: #fff;
    border-radius: 7px;
    padding: .5rem 1rem;
    color:#000;
    margin-top: 0.5rem;
    height: 2.5rem;
    font-size: 0.95rem;
    border: 0.3px solid #081B33;
    font-family: "GeneralSansRegular";
}
.view-pending{
    background: #B240B2;
    border-radius: 7px;
    padding: .5rem 1rem;
    color:#fff;
    margin-top: 0.5rem;
    height: 2.5rem;
    font-size: 0.95rem;
    border: 0.3px solid transparent;
    font-family: "GeneralSansRegular";
}
.view-blue{
    background: #fff;
    border-radius: 7px;
    padding: .5rem 1rem;
    color:#5151E0;
    margin-top: 0.5rem;
    height: 2.5rem;
    text-decoration: none;
    font-size: 0.95rem;
    border: 0.3px solid transparent;
    font-family: "GeneralSansRegular";
}
.wallet-card{
    width: 100%;
    background: #EEEEFC;
    border-radius: 7px;
    padding:3vh;
}
.wallet-card>div>h5{
    color:#767E9F;
    font-family: "GeneralSansRegular";
}
.wallet-card>div>h3{
    color:#081B33;
    font-family: "CabinetGroteskBold";
}
.recent-trans{
    color:#081B33;
    font-family: "CabinetGroteskBold";
}
.trans-view{
    font-family: "GeneralSansRegular";
    color:#081B33;
}
.bottombar >ul>li>a:hover{
    text-decoration: none;
}
.trans{
    font-family: "GeneralSansRegular";
    color:#081B33;
    margin-bottom: 0;
    font-size: 1.3rem;
}
.trans-date{
    font-family: "GeneralSansRegular";
    color:#767E9F;
    font-size: 0.75rem;
}
.small-card{
    width: 24.5%;
    padding: 0.8rem;
    border-radius: 10px;
}
.small-card-investor{
    width: 32%;
    padding: 0.8rem;
    border-radius: 10px;
}
.smally-card{
    width: 30%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #E9EAF4;
    box-sizing: border-box;
}
.smally-card2{
    width: 48%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #E9EAF4;
    box-sizing: border-box;
}
#wall-active{
    color: #3EAF6E;
    background: #ECF7F1;
    height: 2rem;
    border-radius: 4px;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.4rem 0.7rem;
    margin-left: 0.5rem;
    font-family: "CabinetGroteskBold";
}
.inactive-div{
    background: #FFF6EE;
    border: 1px solid #E07E24;
    box-sizing: border-box;
    border-radius: 10px;
    width:100%;
    padding:1rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inactive-div >p{
    color:#081B33;
    font-family: "GeneralSansRegular";
    width:70%;
    padding:0;
}
.page-current{
    color:#081B33;
    font-family: "GeneralSansMedium";
    margin-right:2rem;
}
#wall-inactive{
    color: #D13D2A;
    height: 2rem;
    background: #FBECEA;
    border-radius: 4px;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.4rem 0.7rem;
    margin-left: 0.5rem;
    font-family: "CabinetGroteskBold";
}
.small-card>h3, .smally-card>h3{
    color:#081B33;
    font-size: 1.8rem;
    font-family: "CabinetGroteskBold";
}
.small-card>p, .smally-card>p{
    color:#767E9F;
    font-family: "GeneralSansRegular";
    font-size: 1.3rem;
}
#red{
    background: #F7EDFA;
}
#orange{
    background: #FFF6EE;
}
#yellow{
    background: #FFF8DA;
}
#green{
    background: #ECF7F1;
}
.main-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.main-main{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-main-i{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-verification{
    width:100%;
    padding: 1rem 32rem;
    border-radius: 10px;
    background-color: #fff;
    justify-content: center;
}

.main-profile{
    width:100%;
    display: flex;
    flex-direction: row;
    padding: 5rem;
    padding-left: 0;
    border-radius: 10px;
    background-color: #fff;
    justify-content: space-between;
}
.main-admin-dashboard{
    width:100%;
    display: flex;
    flex-direction: row;
    padding: 5rem;
    padding-left: 0;
    border-radius: 10px;
    background-color: #fff;
    /* justify-content: space-between; */
}
.form-btn-ver {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-left{
    width:56%;
}
.main-left-investor{
    width:44%;
}
.awaiting{
    background-color: #F7EDFA;
    color:#B240B2;
    padding: 0.5rem;
    border-radius: 7px;
}
.vendor{
    background-color: #FFF6EE;
    color:#E07E24;
    padding: 0.5rem;
    border-radius: 7px;
}
.buyer{
    background-color: #FFF8DA;
    color:#E5AA33;
    padding: 0.5rem;
    border-radius: 7px;
}
.maturity{
    background-color: #ECF7F1;
    color:#3EAF6E;
    padding: 0.5rem;
    border-radius: 7px;
}
tr:hover{
    background-color: #EEEEFC;
    
}

td{
    color:#081B33;
}
.table th, .table td {
    border-top: 1px solid transparent;
}
.select-filter{
    padding:0.5rem 1rem;
    border: 0.5px solid #E9EAF4;
    border-radius: 7px;
}
.main-invoice{
    width: 100%;
}
.flex-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.flexy{
    display: flex;
    flex-direction: row;
}
.flexy-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flexy-options-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-wallet {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-right{
    width:42%;
}
.t-bids{
    color:#081B33;
    font-size: 1.7rem;
    font-family: 'GeneralSansMedium';
}
.t-bids2{
    color:#3EAF6E;
    font-size: 1.7rem;
    font-family: 'GeneralSansMedium';
}
.t-bids3{
    color:#E07E24;
    font-size: 1.7rem;
    font-family: 'GeneralSansMedium';
}
.edit-bid{
    background: #081B33;
    border: 1px solid #081B33;
    box-sizing: border-box;
    border-radius: 7px;
    padding:0.6rem;
    color:#fff;
}
.edit-bid2{
    background: #081B33;
    border: 1px solid #081B33;
    box-sizing: border-box;
    border-radius: 7px;
    padding:0.6rem 1.5rem;
    color:#fff;
}
.i-h5{
    color:#081B33;
    font-family: 'GeneralSansMedium';
}
.roi{
    color:#5151E0;
}
.main-right-investor{
    width:54%;
}
.main-card{
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    padding: 0.5rem 1rem;
    overflow-y: auto!important;
    max-height: 70vh !important;
}
.main-card-investor{
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    padding: 0.5rem 1rem;
    max-height: 70vh !important;
}
.main-card-investor22 {
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    padding: 0.5rem 1rem;
    /* max-height: 70vh !important; */
}
.main-card-investor2{
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    padding: 0.5rem 1rem;
    /* max-height: 70vh !important; */
}
.i-h4{
    font-family: 'GeneralSansMedium';

}
.investor-inner{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    overflow-y: auto!important;
    max-height: 70vh !important;
}
.invoice-upload:hover {
    text-decoration: none;
    color:#fff;
}
.flexty{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flexty > h5{
    color: #767E9F;
    font-family: "GeneralSansRegular";
}
.badge-red{
    background-color: #BF3030 !important;
    padding:1rem !important;
    margin-right:0.5rem;
    width:30px;
    border-radius: 5px!important;
    font-family: 'DM Sans', sans-serif;
}
.verification-active{
    color: #5151E0;
    font-family: "GeneralSansRegular";
    border-radius: 5px!important;
    padding: 1rem 0.5rem !important;
    background: #FFFFFF;
    border: 1px solid #5151E0!important;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 0.85rem!important;
    width:45%;
}
.verification-inactive{
    color: #767E9F;
    font-family: "GeneralSansRegular";
    border-radius: 5px!important;
    padding: 1rem 0.5rem !important;
    border: 1px solid #5151E0;
    box-sizing: border-box;
    border-radius: 10px;
    background: #F5F7FC;
    font-size: 0.85rem!important;
    width:44%;
}
#ver_form-inner-one>label{
    font-family: "CabinetGroteskMedium";
}
.verification-green{
    color: #081B33;
    font-family: "GeneralSansRegular";
    border-radius: 5px!important;
    padding: 1rem 0.5rem !important;
    border: 1px solid #ECF7F1;
    box-sizing: border-box;
    border-radius: 10px;
    background: #ECF7F1;
    font-size: 0.85rem!important;
    width:44%;
}
.credit-red{
    background-color: #F9EAEA;
    color: #BF3030;
    font-family: "GeneralSansRegular";
    border-radius: 5px!important;
    padding: 0.5rem !important;
}
.badge-red-wallet{
    background-color: #BF3030 !important;
    margin-right:0.5rem;
    border-radius: 5px!important;
    font-family: "GeneralSansRegular";
}
.badge-active{
    background-color: #5151E0 !important;
    margin-right:0.5rem;
    color:#fff;
    width:20px;
    height: 20px;
    padding:0.4rem;
    border-radius: 10px!important;
    font-family: "GeneralSansRegular";
}
.badge-green-ver{
    background-color: transparent !important;
    margin-right:0.5rem;
    color:#fff;
}
.badge-green-ver:after {
    content: url("/static/img/ver-good.svg");
  }
.badge-inactive{
    background-color: #767E9F !important;
    margin-right:0.5rem;
    color:#fff;
    width:20px;
    height: 20px;
    padding:0.4rem!important;
    border-radius: 10px!important;
    font-family: "GeneralSansRegular";
}
.credit-red-wallet{
    background-color: #F9EAEA;
    color: #BF3030;
    font-size: 0.99rem!important;
    font-family: "GeneralSansRegular";
    border-radius: 5px!important;
    padding: 0.4rem !important;
}
.badge-orange{
    background-color: #D65F2B !important;
    padding:1rem !important;
    margin-right:0.5rem;
    width:30px;
    border-radius: 5px!important;
    font-family: 'DM Sans', sans-serif;
}
.credit-orange{
    background-color: #FBEFEA;
    color: #D65F2B;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px!important;
    padding: 0.5rem !important;
}
.badge-orange-wallet{
    background-color: #D65F2B !important;
    margin-right:0.5rem;
    border-radius: 5px!important;
    font-family: 'DM Sans', sans-serif;
}
.credit-orange-wallet{
    background-color: #F9EAEA;
    color: #D65F2B;
    font-size: 0.99rem!important;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px!important;
    padding: 0.4rem !important;
}
.badge-yellow{
    background-color: #E5AA33 !important;
    padding:1rem !important;
    margin-right:0.5rem;
    width:30px;
    border-radius: 5px!important;
    font-family: 'DM Sans', sans-serif;
}
.flexty-wallet{
    text-align: right;
}
.flexty-wallet >h5{
    margin:0;
}
.credit-yellow{
    background-color: #FCF7EB;
    color: #E5AA33;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px!important;
    padding: 0.5rem !important;
}
.badge-yellow-wallet{
    background-color: #E5AA33 !important;
    margin-right:0.5rem;
    border-radius: 5px!important;
    font-family: 'DM Sans', sans-serif;
}
.credit-yellow-wallet{
    background-color: #FCF7EB;
    color: #E5AA33;
    font-size: 0.99rem!important;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px!important;
    padding: 0.4rem !important;
}
.badge-light{
    background-color: #ABCC46 !important;
    padding:1rem !important;
    margin-right:0.5rem;
    width:30px;
    border-radius: 5px!important;
    font-family: 'DM Sans', sans-serif;
}
.credit-light{
    background-color: #F7FAED;
    color: #ABCC46;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px!important;
    padding: 0.5rem !important;
}
.badge-light-wallet{
    background-color: #ABCC46 !important;
    margin-right:0.5rem;
    border-radius: 5px!important;
    font-family: 'DM Sans', sans-serif;
}
.credit-light-wallet{
    background-color: #F7FAED;
    color: #ABCC46;
    font-size: 0.99rem!important;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px!important;
    padding: 0.4rem !important;
}
.badge-green{
    background-color: #3EAF6E !important;
    padding:1rem !important;
    margin-right:0.5rem;
    width:30px;
    border-radius: 5px!important;
    font-family: 'DM Sans', sans-serif;
}
.credit-green{
    background-color: #ECF7F1;
    color: #3EAF6E;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px!important;
    padding: 0.5rem !important;
}
.badge-light-green{
    background-color: #3EAF6E !important;
    margin-right:0.5rem;
    border-radius: 5px!important;
    font-family: 'DM Sans', sans-serif;
}
.credit-light-green{
    background-color: #ECF7F1;
    color: #3EAF6E;
    font-size: 0.99rem!important;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px!important;
    padding: 0.4rem !important;
}
.flexty-wallet >h5{
    color:#767E9F;
    font-size:0.99rem;
}
.main-card-upload{
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    padding: 0.5rem 1rem;
    overflow-y: auto!important;
    /* max-height: 70vh !important; */
}
.main-card-two{
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    padding: 3vh;
}
.lb{
    color:#767E9F;
    font-family: "GeneralSansRegular";
}
#recieveable{
    color:#3FBB97;
    font-size: 1.5rem;
    /* font-family: "Space Grotesk"; */
    
}
.disappeared{
    display: none;
  }
.appear{
    display: block;
}
.form-btn-div{
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
.form-btn-up{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.btn-back {
    background-color: #EEEFF1;
    color: #5151E0!important;
    padding: 15px 25px;
    border: 0;
    font-size: 1.5rem;
    font-weight: 100;
    border-radius: 5px;
  }
.btn-disabled{
    background-color: #EEEFF1;
    color:#5151E0;
    padding:15px 40px;
    border: 0;
    font-size: 1.2rem;
    font-weight: 100;
    border-radius: 5px;

}
.btn-create-account {
    background-color: #5151E0;
    color: #fff;
    padding: 15px 25px;
    border: 0;
    font-size: 1.5rem;
    font-weight: 100;
    border-radius: 5px;
}
.up-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#up_rec{
    font-size:1.3rem;
    text-align: center;
    color:#5151E0;
    margin-top: 1rem;
    font-family: 'DM Sans', sans-serif;
}
.main-upload {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-plus{
    margin-left: -4vh;
}
.flexy>p{
    padding-top: 1rem;
    color: #081B33;
    font-family: "CabinetGroteskBold";
}
.desktop{
    display: block;
}
.sup{
    color:#838D99!important;
    font-size: 0.8rem;
    top:-1em!important;
    font-family: 'DM Sans', sans-serif;
}
.modal-show{
    display: block;
}
.modal-hide{
    display: none;
}
#ajax_div2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.mobile-card-invoice{
    width:100%;
    background-color: #fff;
    border: 1px solid #E9EAF4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.3rem 1.5rem;
    font-family: "GeneralSansRegular";
}
.mobile-card-invoice2{
    width:49%;
    background-color: #fff;
    border: 1px solid #E9EAF4;
    box-sizing: border-box;
    border-radius: 10px;
    margin:0.3rem;
    padding: 0.3rem 1.5rem;
    font-family: "GeneralSansRegular";
}
.mobile-card-invoice:hover{
    background-color: #EEEEFC;
}
.mobile-card-invoice2:hover{
    background-color: #EEEEFC;
}
.no-invoice{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.mob-p{
    color:#767E9F;
    padding: 0.5rem;
    margin-top: -0.5rem;
}
.mob-flex{
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
    justify-content: space-between;
}
.mob-flex2{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: space-between;
}
.mobile-flex {
    display: none;
}
.mobile-flex2 {
    display: none;
}
#v-pills-tabContent{
    width:40%;
}
#v-pills-tab{
    width:20%;
}
@media (max-width: 770px) {
    #ver_form-inner-one>label {
        font-size: 1.7rem;
    }
    .verification-active{
        padding: 1rem 0.5rem !important;
        font-size: 1.5rem!important;
        width:45%;
    }
    .verification-inactive{
        padding: 1rem 0.5rem !important;
        font-size: 1.5rem!important;
        width:45%;
    }
    .main-card-investor22 {
        height:90vh!important;
    }
    .i-h4 {
        font-size:1.6rem;
    }
    .mobile-card-invoice2 {
        width: 100%;
    }
    .main-card-two{
        background: #FFFFFF;
        border-radius: 10px;
        width: 100%;
        padding: 3vh 0;
    }
    .main-main-i{
        width:100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    .main-left-investor {
        width: 100%;
    }
    .main-right-investor {
        width: 100%;
    }
    .pro-save{
        background: #BABECF;
        border-radius: 7px;
        /* padding:0.5rem; */
        border:0;
        color:#fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #v-pills-home-tab{
        display: none;
    }
    #v-pills-tab{
        width:100%;
        flex-direction: row !important;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-bottom: 1rem;
    }
    .tab-pane{
        overflow-y: auto!important;
        min-height: 80vh!important;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #5151E0;
        background-color: #fff;
        border-bottom: 2px solid #5151E0;
        border-left: 2px solid transparent;
    }
    .nav-link {
        padding: 1rem !important;
        color: #767E9F;
        font-size: 1.3rem;
        font-family: "GeneralSansMedium";
    }
    .main-profile{
        padding:1rem;
        flex-direction: column;
        justify-content: center;
    }
    #v-pills-tabContent{
        width:100%;
    }
    .main-verification {
        padding:0rem;
    }
    .save-div{
        display: none;
    }
    .inactive-div{
        background: #FFF6EE;
        border: 1px solid #E07E24;
        box-sizing: border-box;
        border-radius: 10px;
        width:100%;
        padding:1rem 1.5rem;
        display: block;
        /* justify-content: space-between; */
    }
    .inactive-div > p{
        width: 100%;
    }
    .main-main{
        height: 80vh;
    }
    .main-verification{
        height: 80vh;
        overflow-y: auto;
    }
    .main-title {
        margin-bottom: 0;
    }
    .mobile-flex {
        display: flex;
        justify-content: center!important;
    }
    .invoice-upload {
        background-color: #5151E0;
        border-radius: 7px;
        padding: 0.8rem;
        color: #fff;
        height: 4rem;
        font-family: 'DM Sans', sans-serif;
    }
    .mobile-flex2 {
        display: flex;
        padding: 0.5rem 2rem;
        margin-top: 3vh;
    }
    .select-filter {
        width: 12.8rem;
    }
    .table{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .disappear{
        display: none;
    }
    .mobile{
        display: block;
    }
    .bottombar{
        width:100%;
        height: 10vh;
        display: none;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
    }
    .dashboard-main{
        width:100%;
        height:90vh;
    }
    .main-top {
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        margin-left: 0.3%;
        justify-content: space-between;
        padding: 1rem 3vh;
    }
    .upload-mobile {
        background: #5151E0;
        border-radius: 7px;
        padding: 1.5vh;
        color: #fff;
        margin-top: 0.5rem;
        font-family: 'DM Sans', sans-serif;
        height: 3.5rem;
        font-size: 1rem;
        text-align: center;
        width: 49%;
    }
    
    .bottombar >ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        text-align: center;
        width:100%;
        padding: 0;
        margin-top:1rem;
        justify-content: space-evenly;

    }
    .bottombar >ul>li{
        display: block;
    }
    .bottombar >ul>li>a{
        font-size: 0.8rem;
        margin-top:1rem;
        color: #838D99;
    }
    .main-left {
        width: 100%;
    }
    .small-card {
        width: 49%;
        padding: 1rem;
        margin-bottom: 0.5rem;
    }
    .small-card>p, .smally-card>p {
        font-size: 1.5rem;
        margin-top: 0.8rem;
    }
    .desktop{
        display: none;
    }
    .main-section {
        padding: 2vh;
        background: #fff;
    }
    .main-card {
        /* border: 1px solid #E9EAF4; */
        box-sizing: border-box;
        border-radius: 10px;
        max-height: 60vh !important;
    }
    .main-card-upload{
        min-height: 90vh!important;
    }
    .bottom-fix{
        margin-bottom: 10vh;
    }
    .flexy-options-stats{
        display: flex;
        flex-direction: column;
    }
    .smally-card {
        width: 100%;
        padding: 1rem;
        display: flex;
        border-radius: 10px;
        border: 1px solid #E9EAF4;
        box-sizing: border-box;
    }
    .smally-card>h3 {
        font-size: 2.7rem;
        margin-top: 3px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .main-right {
        width: 100%;
    }
    #normal-table{
        display: block;
        max-height: 40vh;
        overflow-y: auto;
    }
    .table>thead>tr>th {
        font-size: 1rem!important;
    }
    #invoice-table3>tr>td, #ajax_div>tr>td {
        font-size: 1rem!important;
        width:30%;
    }
    .mobilell{
        display: none;
    }

}
/* @media (max-width: 330px){
    .small-card {
        width: 40%;
        padding: 1rem;
    }
} */