{% extends "investor/baseAdmin.html" %}

{% load static %}
{% load humanize %}
{% block body%}
<section class="dashboard-main"> 
    <!-- top-bar -->
    <nav class="main-top">
        <img src= "{% static 'img/logo-mobile.svg' %}" alt="logo" class="img-fluid mobile">
        <!-- <img src= "{% static 'img/bell.svg' %}" alt="bell" class="mobile"> -->
        <a href="{% url 'logout' %}"><img src= "{% static 'img/drop-signout.svg' %}" alt="upload" class="mobile mt-2"></a>
        <div class="avatar-div disappear"> 
            <img src= "{% static 'img/bell.svg' %}" alt="bell" class="img-xs">
            <div class="avatar-div2 " id="drop-down">
                <img src= "{% static 'img/avatar.png' %}" alt="avatar" class="img-sm" style="border-radius: 50%;">
                <img src= "{% static 'img/down.svg' %}" alt="avatar" class="ml-2 img-xs">
            </div>
        </div>
    </nav>
    <ul style="display: none;" id="drop-list">
        <li><a href="{% url 'profile' %}"><img src= "{% static 'img/drop-profile.svg' %}" alt="upload" class="mr-3"> View Profile</a></li>
        <li><a href="{% url 'logout' %}"><img src= "{% static 'img/drop-signout.svg' %}" alt="upload" class="mr-3">Sign out</a></li>
    </ul>
    <!-- top-bar ends -->
    <!-- main section -->
    <div class="main-section">
        <div class="main-title disappear">
            <h4>Admin Dashboard</h4>
            <button class="btn btn-withdraw" id="check_bids"> Check Bids</button>
            <button class="btn fund-wallet" id="check_investments"> Check Due Investments</button>
            <!-- <a href="{% url 'close_bids' %}" target="_blank" style="color:#5151E0;">Close Bids</a> -->
        </div>
        <div class="main-admin-dashboard">
            
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" >
                <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Awaiting Confirmation 
                  {% if invoicesCount %}
                  ({{invoicesCount}})
                  {% else %}
                  {% endif %}
                </a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Awaiting Buyer
                  {% if biddableCount %}
                  ({{biddableCount}})
                  {% else %}
                  {% endif %}
                </a>
                <a class="nav-link" id="matured" data-toggle="pill" href="#t-matured" role="tab" >Awaiting Maturity
                  {% if maturedCount %}
                  ({{maturedCount}})
                  {% else %}
                  {% endif %}
                </a>
                <a class="nav-link" id="v-pills-settings-tab2" data-toggle="pill" href="#v-pills-settings2" role="tab" aria-controls="v-pills-settings2" aria-selected="false">Completed
                  {% if completedCount %}
                  ({{completedCount}})
                  {% else %}
                  {% endif %}
                </a>
            </div>
            <div class="tab-content" id="v-pills-tabContent" style="width:80%;" >
                <!-- awaiting confirmation tab -->
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" >
                    <table class="table" id="normal-table">
                        {% if invoices %}
                        
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Recieveable</th>
                            <th scope="col">Due Date</th>
                            <th scope="col" class="mobilell">Vendor</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <!-- <tbody id="ajax_div"></tbody> -->
                        
                        <tbody id="invoice-table3">
                          {% for i in invoices %}
                          <tr>
                            <td> 
                              <img src= "/static/img/invoice-small.svg" alt="upload" class="mr-1"/> 
                              {{i.additional_details}}
                            </td>
                            <td >{{i.invoice_amount}}</td>
                            <td style="color:#3EAF6E;">&#8358; {{i.receivable_amount|floatformat:2|intcomma}}</td>
                            <td>Due in {{i.due_date|timeuntil}}</td>
                            <td class="mobilell"> {{i.vendor_name}}</td>
                            <td><a href="{{i.invoice_url}}" target="_blank" style="color:#5151E0;">View Invoice</a></td>
                            <td><form action="{% url 'approve_invoice' %}" method="post"> {% csrf_token %}<input name="invoice_id" id="invoice_id" value="{{i.id}}" hidden/><button type="submit" class="btn btn-withdraw" name="">Approve</button></form></td>
                          </tr>
                          {% endfor %} 
                        </tbody>
                        
                        {% else %}      
                        <div class="no-invoice" style="height:auto;">
                            <img src= "{% static 'img/no-invoice.svg' %}" alt="upload" class="mb-3"/>
                            <p>You have no Pending Awaiting Invoice</p>
                        </div>
                        {% endif %}
                      </table>
                </div>
                <!-- awaiting buyer tab -->
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" >
                    <table class="table" id="normal-table">
                        {% if biddable %}
                        
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Recieveable </th>
                            <th scope="col">Due Date</th>
                            <th scope="col" class="mobilell">Vendor</th>
                            <th scope="col"></th>
                            <th scope="col">Bid</th>
                          </tr>
                        </thead>
                        <!-- <tbody id="ajax_div"></tbody> -->
                        
                        <tbody id="invoice-table3">
                          {% for i in biddable %}
                          <tr>
                            <td> 
                              <img src= "/static/img/invoice-small.svg" alt="upload" class="mr-1"/> 
                              {{i.additional_details}}
                            </td>
                            <td >{{i.invoice_amount}}</td>
                            <td style="color:#3EAF6E;">&#8358; {{i.receivable_amount|floatformat:2|intcomma}}</td>
                            <td>Due in {{i.due_date|timeuntil}}</td>
                            <td class="mobilell"> {{i.vendor_name}}</td>
                            <td><a href="{{i.invoice_url}}" target="_blank" style="color:#5151E0;">View Invoice</a></td>
                            <td>{%if i.winning_buyer_id == "0" %}
                                <button id="{{i.id}}" class="edit-bid" onclick="adminInvoiceBids(this.id)"  >Ongoing</button>
                                <!-- <td><form action="{% url 'approve_invoice' %}" method="post"> {% csrf_token %}<input name="invoice_id" id="invoice_id" value="{{i.id}}" hidden/><button type="submit" class="btn" name="">Ongoing</button></form></td> -->
                                <!-- <a href="{{i.invoice_url}}" target="_blank" style="color:#5151E0;"></a> -->
                                {% else %}
                                Closed 
                                {% endif %}
                            </td>
                            <!-- <td><a href="{{i.id}}" class="btn btn-withdraw">Approve</a></td> -->
                          </tr>
                          {% endfor %} 
                        </tbody>
                        
                        {% else %}      
                        <div class="no-invoice" style="height:auto;">
                            <img src= "{% static 'img/no-invoice.svg' %}" alt="upload" class="mb-3"/>
                            <p>You have no Pending Biddable Invoice</p>
                        </div>
                        {% endif %}
                        </table>

                </div>
                <!-- awaiting maturity tab -->
                <div class="tab-pane fade" id="t-matured" role="tabpanel" aria-labelledby="matured" >
                    <table class="table" id="normal-table">
                        {% if matured %}
                        
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Recieveable</th>
                            <th scope="col">Due Date</th>
                            <th scope="col" class="mobilell">Vendor</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <!-- <tbody id="ajax_div"></tbody> -->
                        
                        <tbody id="invoice-table3">
                          {% for i in matured %}
                          <tr>
                            <td> 
                              <img src= "/static/img/invoice-small.svg" alt="upload" class="mr-1"/> 
                              {{i.additional_details}}
                            </td>
                            <td >{{i.invoice_amount}}</td>
                            <td style="color:#3EAF6E;">&#8358; {{i.receivable_amount|floatformat:2|intcomma}}</td>
                            <td>Due in {{i.due_date|timeuntil}}</td>
                            <td class="mobilell"> {{i.vendor_name}}</td>
                            <td><a href="{{i.invoice_url}}" target="_blank" style="color:#5151E0;">View Invoice</a></td>
                            <td><button id="{{i.id}}" class="edit-bid" onclick="adminInvoiceBids(this.id)"  >Bid Details</button></td>
                            <!-- <td><a href="{{i.id}}" class="btn btn-withdraw">Approve</a></td> -->
                          </tr>
                          {% endfor %} 
                        </tbody>
                        
                        {% else %}      
                        <div class="no-invoice" style="height:auto;">
                            <img src= "{% static 'img/no-invoice.svg' %}" alt="upload" class="mb-3"/>
                            <p>You have no Pending Invoice</p>
                        </div>
                        {% endif %}
                        </table>

                </div>
                <!-- completed tab -->
                <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel" aria-labelledby="v-pills-settings-tab2">
                    <table class="table" id="normal-table">
                        {% if completed %}
                        
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Recieveable</th>
                            <th scope="col">Due Date</th>
                            <th scope="col" class="mobilell">Vendor</th>
                            <th scope="col"></th>
                            <!-- <th scope="col"></th> -->
                          </tr>
                        </thead>
                        <!-- <tbody id="ajax_div"></tbody> -->
                        
                        <tbody id="invoice-table3">
                          {% for i in completed %}
                          <tr>
                            <td> 
                              <img src= "/static/img/invoice-small.svg" alt="upload" class="mr-1"/> 
                              {{i.additional_details}}
                            </td>
                            <td >{{i.invoice_amount}}</td>
                            <td style="color:#3EAF6E;">&#8358; {{i.receivable_amount|floatformat:2|intcomma}}</td>
                            <td>Due in {{i.due_date|timeuntil}}</td>
                            <td class="mobilell"> {{i.vendor_name}}</td>
                            <td><a href="{{i.invoice_url}}" target="_blank" style="color:#5151E0;">View Invoice</a></td>
                            <!-- <td><a href="{{i.id}}" class="btn btn-withdraw">Approve</a></td> -->
                          </tr>
                          {% endfor %} 
                        </tbody>
                        
                        {% else %}      
                        <div class="no-invoice" style="height:auto;">
                            <img src= "{% static 'img/no-invoice.svg' %}" alt="upload" class="mb-3"/>
                            <p>You have no Pending Completed Invoice</p>
                        </div>
                        {% endif %}
                        </table>
                </div>
                
            </div>
            <!-- <div class="save-div">
                <a  href="{% url 'verification' %}" class="pro-save">Re-upload Documents</a>
            </div> -->
            
        </div>
    </div>
    <!-- main-section ends -->
</section>
{% endblock %}

